.team{
   background-color: yellowgreen;
   margin-left: 60%;
   width: 5%;
   margin-top: -16%;
    
}

.playername{
    
    background-color: white;
    width: 14%;
    margin-top: -8%;
    margin-left: 8%;
}